
<include file="Public:header" />

<body>

<div class="pd-20">
   <div class="mt-20" style="margin:auto">
	<embed height="100" width="400" src="__ROOT__/{$res['images']}"></embed>
   </div>
</div>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.admin.js"></script> 

</body>
</html>