<include file="Public:header"/>

<body>
<div class="pd-20">
    <form method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data"
          action="{:U('User/editpost')}">

        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>手机区号：</label>
            <div class="formControls col-2">
                    <span class="select-box">
                        <select name="countrynum" class="select">
                        <volist name="countrylist" id="vo">
                            <option value="{$vo['code']}" <if
                                condition="$info['countrynum'] eq $vo['code'] ">selected</if> >{$vo['country']}（{$vo['code']}）</option>
                         </volist>
                        </select>
                    </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">用户手机号：</label>
            <div class="formControls col-10">
                {$info["tel"]}
                <input type="text" class="input-text" value="{$info['userid']}" name="userid"
                       style="width:20%; display:none;">
                <input type="text" class="input-text" value="{$info['tel']}" name="tel"
                       style="width:20%; display:none;">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-10">
                <input type="text" class="input-text" value="" name="password" style="width:20%;">

                <span class="Validform_checktip"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-10">
                <div class="radio-box">
                    <input type="radio" id="radio-1" name="sex" value="1"
                    <if condition="$info['sex'] eq 1 ">checked</if>
                    >
                    <label for="radio-1">男</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="radio-2" name="sex" value="2"
                    <if condition="$info['sex'] eq 2 ">checked</if>
                    >
                    <label for="radio-2">女</label>
                </div>
            </div>

        </div>

        <div class="row cl">
            <label class="form-label col-2">婚姻：</label>
            <div class="formControls col-10">
                <select name="marriage" class="select-box" style="width:20%;" datatype="*" nullmsg="请选择婚姻！">
                    <option value="保密"
                    <if condition="$info['marriage'] eq '保密' ">selected</if>
                    >保密</option>
                    <option value="已婚"
                    <if condition="$info['marriage'] eq '已婚' ">selected</if>
                    >已婚</option>
                    <option value="未婚"
                    <if condition="$info['marriage'] eq '未婚' ">selected</if>
                    >未婚</option>
                </select>
                <span class="Validform_checktip"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>年龄：</label>
            <div class="formControls col-10">
                <input type="text" class="input-text" value="{$info['age']}" name="age" style="width:20%;"
                       datatype="n1-3" errormsg="年龄为1-3位数字！">
                <span class="Validform_checktip">岁</span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>身高：</label>
            <div class="formControls col-10">
                <input type="text" class="input-text" value="{$info['height']}" name="height" style="width:20%;"
                       datatype="n2-3" errormsg="身高为厘米！">
                <span class="Validform_checktip">cm</span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>体重：</label>
            <div class="formControls col-10">
                <input type="text" class="input-text" value="{$info['weight']}" name="weight" style="width:20%;"
                       datatype="n2-3" errormsg="体重为KG！">
                <span class="Validform_checktip">KG</span>
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>星座：</label>
            <div class="formControls col-10">
                <select name="constellation" class="select-box" style="width:20%;" datatype="*" nullmsg="请选择星座！">
                    <option value="">请选择</option>
                    <option value="白羊座"
                    <if condition="$info['constellation'] eq '白羊座' ">selected</if>
                    >白羊座</option>
                    <option value="金牛座"
                    <if condition="$info['constellation'] eq '金牛座' ">selected</if>
                    >金牛座</option>
                    <option value="双子座"
                    <if condition="$info['constellation'] eq '双子座' ">selected</if>
                    >双子座</option>
                    <option value="巨蟹座"
                    <if condition="$info['constellation'] eq '巨蟹座' ">selected</if>
                    >巨蟹座</option>
                    <option value="狮子座"
                    <if condition="$info['constellation'] eq '狮子座' ">selected</if>
                    >狮子座</option>
                    <option value="处女座"
                    <if condition="$info['constellation'] eq '处女座' ">selected</if>
                    >处女座</option>
                    <option value="天秤座"
                    <if condition="$info['constellation'] eq '天秤座' ">selected</if>
                    >天秤座</option>
                    <option value="天蝎座"
                    <if condition="$info['constellation'] eq '天蝎座' ">selected</if>
                    >天蝎座</option>
                    <option value="射手座"
                    <if condition="$info['constellation'] eq '射手座' ">selected</if>
                    >射手座</option>
                    <option value="摩羯座"
                    <if condition="$info['constellation'] eq '摩羯座' ">selected</if>
                    >摩羯座</option>
                    <option value="水瓶座"
                    <if condition="$info['constellation'] eq '水瓶座' ">selected</if>
                    >水瓶座</option>
                    <option value="双鱼座"
                    <if condition="$info['constellation'] eq '双鱼座' ">selected</if>
                    >双鱼座</option>
                </select>
                <span class="Validform_checktip"></span>


            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>职业：</label>
            <div class="formControls col-10">
                <select class="select-box" size="1" name="professionsign_id" style="width:20%;" datatype="*"
                        nullmsg="请选择职业！">
                    <option value="" selected>请选择</option>
                    <volist name="profession_signlist" id="ps">
                        <option value="{$ps['pro_id']}"
                        <if condition="$info['professionsign_id'] eq $ps['pro_id'] ">selected</if>
                        >{$ps["name"]}</option>
                    </volist>

                </select>
                <span class="Validform_checktip"></span>

            </div>

        </div>


        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>爱好：</label>
            <div class="formControls col-6">
                <volist name="hobbylist" id="vo" key="k">
                    <input type="checkbox" id="checkbox-1" value="{$vo['hobbyid']}" name="hobbyname[]"
                    <if condition="$k eq 1"> datatype="*" nullmsg="请选择爱好！"</if>
                    <volist name="info['hobbyid']" id="so">
                        <if condition="$so eq $vo['hobbyid'] "> checked</if>
                    </volist>
                    >
                    <label for="checkbox-1">{$vo['hobbyname']}</label>

                </volist>
                <span class="Validform_checktip"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>标签：</label>
            <div class="formControls col-6">
                <volist name="star_signlist" id="vo" key="k">
                    <input type="checkbox" id="checkbox-1" value="{$vo['star_id']}" name="star_signname[]"
                    <if condition="$k eq 1"> datatype="*" nullmsg="请选择爱好！"</if>
                    <volist name="info['starsignid']" id="so">
                        <if condition="$so eq $vo['star_id'] "> checked</if>
                    </volist>
                    >
                    <label for="checkbox-1">{$vo['name']}</label>

                </volist>
                <span class="Validform_checktip"></span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2">（可选）推荐者账号：</label>
            <div class="formControls col-2">
                <input type="text" class="input-text" value="{$info['ptel']}" name="ptel" placeholder="请填写推荐者账号">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-2"><span class="c-red">*</span>引荐者语：</label>
            <div class="formControls col-8">
                <textarea name="guide" class="textarea" placeholder="说点什么...最少输入10个字符" datatype="*10-50"
                          dragonfly="true" nullmsg="引荐者语不能为空！"
                          onKeyUp="textarealength(this,50)">{$info['guide']}</textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/50</p>
            </div>
        </div>
        <if condition="$info['questionlist']">
            <div class="row cl">
                <label class="form-label col-2"><span class="c-red">*</span>邀请问题：</label>
                <div class="formControls col-8">

                </div>
            </div>

            <volist name="info['questionlist']" id="ko">
                <div class="row cl">
                    <label class="form-label col-2"></label>
                    <div class="formControls col-8">
                        <div> {$ko['name']}</div>
                        <input type="text" class="input-text" value="{$ko['answer']}" name="{$ko['question_id']}">
                    </div>
                </div>
            </volist>
        </if>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i
                        class="Hui-iconfont">&#xe632;</i> 确定
                </button>

                <button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.js"></script>
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
    $(function () {
        $("#form-article-add").Validform(
            {
                tiptype: 3,
            });
    });


    $(function () {
        if ($('#kk').html() == 1) {
            layer.msg("修改成功！", {icon: 1, time: 2000});
            setTimeout("window.parent.location.reload()", 2000);
        } else if ($('#kk').html() == 2) {
            layer.msg("修改失败！", {icon: 2, time: 2000});
            setTimeout("window.parent.location.reload()", 2000);
        }
    });
</script>
</body>
</html>