
<include file="Public:header" />

<body>

<div class="pd-20">
	<form  method="post" class="form form-horizontal" id="form-article-add" enctype="multipart/form-data" action="{:U('City/addcitypost')}">
      <div class="row cl">
              <label class="form-label col-2"><span class="c-red">*</span>所属国家：</label>
              <div class="formControls col-2"> 
                    <span class="select-box">
                        <select name="country_id" class="select" required id="country_id">
                            <option value="">请选择</option>
                            <volist name="countrylist" id="vo">
                            <option value="{$vo.country_id}">{$vo.country}</option>
                            </volist>
                        </select>
                    </span>
        	  </div>
        </div> 
          <div class="row cl">
              <label class="form-label col-2"><span class="c-red">*</span>所属省份：</label>
              <div class="formControls col-2"> 
                    <span class="select-box">
                        <select name="province_id" class="select" required id="province_id">
                            <option value="">请选择</option>
                           
                        </select>
                    </span>
        	  </div>
        </div> 
   
         <div class="row cl">
			<label class="form-label col-2"><span class="c-red">*</span>城市名称：</label>
			<div class="formControls col-8"> 
				<input type="text" class="input-text" value="" name="city"  datatype="s1-15" nullmsg="请输入城市名称！" errormsg="最多15字！" style="width:50%">
                <span class="Validform_checktip"></span>
			</div>
		</div>
        <div class="row cl">
              <label class="form-label col-2"><span class="c-red">*</span>是否热门：</label>
              <div class="formControls col-2"> 
                    <span class="select-box">
                        <select name="status" class="select" required>
                            <option value="0">非热门</option>
                            <option value="1">热门</option>
                        </select>
                    </span>
        	  </div>
        </div> 
       
		<div class="row cl">
			<div class="col-10 col-offset-2">
				<button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 确定</button>
				
				<button onClick="removeIframe();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/Validform/5.3.2/Validform.min.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/js/H-ui.admin.js"></script> 
<script type="text/javascript" src="__ROOT__/Public/Admin/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript">
$(function(){
$("#form-article-add").Validform(
{
	tiptype:3, 
	});
});
	

$(function(){
	if($('#kk').html()==1){
		layer.msg("添加成功！",{icon:1,time:2000});
		setTimeout("window.parent.location.reload()",2000);
		}else if($('#kk').html()==2){
			layer.msg("添加失败！",{icon:2,time:2000});
			setTimeout("window.parent.location.reload()",2000);	
			}
	});

$(function(){
	$("#country_id").change(function(){
		var $country_id=$(this).val();
		//alert( $country_id);
		 $.ajax({
            url:"{:U('City/getprovinceinfo')}",
            dataType:'json',
            type:'post',
            data:{'id':$country_id},
            success:function(Msg){
                if(Msg){
					$str='<option value="">请选择</option>';
                   for(var $i=0;$i<Msg.length;$i++){
					   
					  $str+='<option value="'+Msg[$i]["province_id"]+'">'+Msg[$i]["province"]+'</option>';
					   
					   } 
					    $("#province_id").html($str);
                }else{
                    layer.msg('操作失败！请重试....',{icon: 5,time:1000});
                }
            }
        });
		
		});
	
});


</script>
</body>
</html>